@media screen and  (min-device-width: 425px) and (max-device-width:767px) {

    #slide img{
        height: 100px;
        width: 100px;
        margin: 15px 20px;
     } 
    #search{
   padding: 10px;
   margin: 5px;
}
input{
    padding: 5px ;
    font-size:small;
    width: 100%;
}
button{
    padding: 5px 5px;
    background-color: deepskyblue;
    color: white;
    border-style: none;
    font-weight: bold;
}
.highlight{
    width: 130px;
    
}
.week{
    width: 110px;
}
.today{
    
    width: 110px;
    
    
}
.data_time{
    padding-left:10px ;
}
#days ul{
   margin-left:0px;
    gap: 10px; 
}

#temperature-unit ul{
    margin-right: 10px;
    gap: 10px;
}
#temperature-unit ul li{
    height: 30px;
    width: 30px;
    
}
#wrapper{

    padding: 20px 20px;
    
}
.today img{
    margin-top: 5px;
   
}
.today-report{
    
    gap: 20px;
}
.weeks-report{
    
    gap: 20px;
}
.location{
   
   font-size: 15px;
  
   padding-left: 10px;
   
   
} 
.condition_rain{
    font-size: 15px;
    
    padding-left: 10px;
}
.temparature{
    
    padding-left: 10px;
}.temparature #temp{
    font-size:40px ;
    

}
.temparature span{
    font-size: 20px;
   
}
#today_hilight{
    font-size: large;
}
    
  }
  @media screen and  (min-device-width: 320px) and (max-device-width:425px){
    #slide img{
        height: 50px;
        width: 50px;
        margin: 10px 15px;
     }
   
   
    #search{
   padding: 5px;
   margin: 5px;
}
input{
    padding: 5px ;
    font-size:small;
    width: 100%;
}
button{
    padding: 5px 5px;
    background-color: deepskyblue;
    color: white;
    border-style: none;
    font-weight: bold;
}
.highlight{
    width: 135px;
    
}
.highlight h1{
    font-weight: 100;
}
.week{
    width: 80px;
    /* height: 90px; */
}
.today{
    
    width: 80px;
    
    
}
.data_time{
    padding-left:0px ;
}
#days ul{
   margin-left:0px;
    gap: 10px; 
    
}

#temperature-unit ul{
    margin-right: 5px;
    gap: 10px;
}
#temperature-unit ul li{
    height: 5px;
    width: 20px;
    gap:10px;
    
}
#wrapper{

    padding: 20px 20px;
    
}
.today img{
    margin-top: 5px;
    width:70px;
    
   
}
.week img{
    width:70px;
}
.today-report{
    
    gap: 20px;
}
.weeks-report{
    
    gap: 20px;
}
.location{
   
   font-size: 12px;
  
   padding-left: 10px;
   
   
} 
.condition_rain{
    font-size: 12px;
    
    padding-left: 10px;
}
.temparature{
    
    padding-left: 10px;
}.temparature #temp{
    font-size:20px ;
    

}
.temparature span{
    font-size: 20px;
   
}
#today_hilight{
    font-size: large;
}
     #wrapper{

        padding: 10px 10px;
        
    }
    #navbar {
        display: flex;
       flex-direction: column;
    }
  }

  @media screen and  (min-device-width: 768px) and (max-device-width:1280px){
    
  }

 
